{% raw %}CENTRAL_INFRA_REPO_NAME = "{% endraw %}{{ central_infra_repo_name}}{% raw %}"
CENTRAL_INFRA_GITHUB_ORG_NAME = "{% endraw %}{{ central_infra_github_organization_name}}{% raw %}"
ACCOUNT_EMAIL_PREFIX = "{% endraw %}{{ account_email_prefix }}{% raw %}"
ACCOUNT_EMAIL_DOMAIN = "{% endraw %}{{ account_email_domain}} {% raw %}"
WORKLOAD_INFO_SSM_PARAM_PREFIX = "/org-managed/logical-workloads"{% endraw %}
