{% raw %}name: Refresh Stack

on:
  workflow_dispatch:

env:
  PYTHONUNBUFFERED: True
  PRE_COMMIT_HOME: ${{ github.workspace }}/.precommit_cache

permissions:
    id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)

jobs:
  lint:
    name: Pre-commit
    uses: ./.github/workflows/pre-commit.yaml
    permissions:
      contents: write # needed for mutex
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
    with:
      python-version: {% endraw %}{{ python_version }}{% raw %}

  pulumi-refresh:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ lint ]
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: {% endraw %}{{ pulumi_stack_name }}{% raw %}
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      DEPLOY_SCRIPT_MODULE_NAME: aws_organization.lib
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: OrgRootInfraPreview
      PULUMI_REFRESH: true
      REFRESH_ROLE_NAME: OrgRootInfraDeploy
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_production_account_id }}{% raw %}"

  pulumi-preview-after-refresh:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ pulumi-refresh ]
    permissions:
      id-token: write # needed to assume OIDC roles (e.g. for downloading from CodeArtifact)
      contents: write # needed for mutex
    with:
      AWS_REGION: {% endraw %}{{ aws_region_for_stack }}{% raw %}
      PULUMI_STACK_NAME: {% endraw %}{{ pulumi_stack_name }}{% raw %}
      PYTHON_VERSION: {% endraw %}{{ python_version }}{% raw %}
      DEPLOY_SCRIPT_MODULE_NAME: aws_organization.lib
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: OrgRootInfraPreview
      AWS_ACCOUNT_ID: "{% endraw %}{{ aws_production_account_id }}{% raw %}"{% endraw %}
